html, body {
  overflow-y: auto;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cont {
  overflow: hidden;
}


.dashboard {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0 0px;
  width: auto;
}

.dashboard .row {
  margin-left: 0px;
  margin-right: 0px;
}

#main {
  padding-top: 56px;
  padding-bottom: 56px;
}

#main #dash-row-1 {
  margin-right: 0px;
}

a {
  cursor: pointer;
}

.picker__input[readonly],
.picker__input:hover {
    background: #fff;
    cursor: text;
}

.navbar-brand {
  padding-top: 14px;
  padding-bottom: 10px;
}

.logged-out {
  display: block;
}

.logged-in, .hidden {
  display: none;
}

.log-out {
  margin-top: 10px;
}

.has-feedback .form-control-feedback {
  top: 2px;
}

/*
.loginContainer .row {
  display:table-cell;
  vertical-align: middle;
  width: 60%;
  height: 60%;
  min-height: 550px;
  padding: 40px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
*/

.loginContainer .nav-tabs > li,
.loginContainer .nav-pills > li {
  float:none;
  display:inline-block;
}

.loginContainer .nav-tabs {
    text-align:center;
}
.loginContainer .big {
  font-size:19px;
}

.loginContainer ul {
  padding-bottom:20px;
}

.loginContainer .q,
.loginContainer p,
.loginContainer i {
  color: #b7bbc4;
}

.loginContainer .selectize-input {
  font-size: 18px;
  color: #555;
  padding: 15px;
}
.loginContainer .selectize-input input {
  font-size: 18px;
}
.loginContainer .usericon input {
  padding-left:25px;
}
.loginContainer .usericon:before {
  opacity:.8;
  height:100%;
  width:25px;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  position: absolute;
  content:"\e008";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
}

.loginContainer .form-control[type="search"]::-webkit-input-placeholder:first-letter {
  font-family:"Glyphicons Halflings";
}
.loginContainer .form-control[type="search"]:-moz-placeholder:first-letter {
  font-family:"Glyphicons Halflings";
}
.loginContainer .form-control[type="search"]::-moz-placeholder:first-letter {
  font-family:"Glyphicons Halflings";
}
.loginContainer .form-control[type="search"]:-ms-input-placeholder:first-letter {
  font-family:"Glyphicons Halflings";
}
.loginContainer .nav-tabs {
  border-bottom: 0px;
}
.loginContainer .nav-tabs > li.active > a,
.loginContainer .nav-tabs > li.active > a:hover,
.loginContainer .nav-tabs > li.active > a:focus {
  color: rgb(85, 85, 85);
  cursor: default;
  background-color: #eee;
  border-radius:2px;
  //border-width: 4px;
  //border-style: solid;
  border-color: transparent;
  //border-bottom-color: #eee;
  //-moz-border-bottom-colors: none;
}
.loginContainer .f {
    padding-right: 0px;
}
.loginContainer .panel-body {
  background-color:#eee;
}
.loginContainer .btn {
  border-radius:2px !important;
  padding:15px;
  font-size:16px;
  font-weight:600;
  //height:56px;
}

.form-group .slider {
  display: block;
  margin-top: 25px;
}

.picker__select--month, .picker__select--year {
  padding: 0px;
}

.adunit {
  margin-bottom: 10px;
}


.scrollable {
  /*overflow-y: auto;*/
  height: 100%;
  -webkit-overflow-scrolling: touch;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 71px;
}

.scrollable .wrap {
  min-height: 100%;
  padding-bottom: 1px;
  -webkit-transform: translateZ(0);
}

.pull-to-refresh {
  line-height: 50px;
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -50px;
  z-index: -1;
}

.pull-to-refresh >.message {
  height: 50px;
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.pull-to-refresh >.message >i.arrow {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  display: inline-block;
  margin-left: 10px;
  background-position: center center;
}

.pull-to-refresh >.message > div.spinner {
    margin-left: 12px;
}

.pull-to-refresh >.message >span.pull,
.pull-to-refresh >.message >span.release,
.pull-to-refresh >.message >span.loading {
  text-align: center;
  display: block;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    z-index: 100;
}

.both-inner-addon {
    position: relative;
}
.both-inner-addon input {
    padding-left: 30px;
    padding-right: 30px;
}
.both-inner-addon i:nth-child(1) {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.both-inner-addon i:nth-child(2) {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

.remove-checkbox-padding {
  padding-left: 0px;
}

.intl-tel-input {width: 100%;}
.iti-flag {background-image: url(/images/flags.png");}

.footer {
  background-color: #f8f8f8;
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 20px;
}

@media (min-width: 640px) {
  .settingsUserName {
    display: inline-block;
  }

  #main {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media (max-width: 640px) {
  .settingsUserName {
    display: none;
  }

  .displayMenuBtn {
    margin-top: 0px;
  }

  #main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("/images/flags@2x.png");
  }
}

/* -------------------------------------------------------- */
/*                                                          */
/* A media query that captures:                             */
/*                                                          */
/* - Retina iOS devices                                     */
/* - Retina Macs running Safari                             */
/* - High DPI Windows PCs running IE 8 and above            */
/* - Low DPI Windows PCs with IE zoomed in                  */
/* - Android hdpi devices and above                         */
/* - Android tvdpi devices, including Google Nexus 7        */
/* - Chrome running on high DPI Macs and PCs                */
/*                                                          */
/* Please note that that this code assumes you'll swap a    */
/* 2× version of your images. If you'd like to supply       */
/* finer increments, other thresholds might be appropriate. */
/*                                                          */
/*
                   @marcedwards from @bjango */
/*                                                          */
/* -------------------------------------------------------- */

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (min-device-pixel-ratio: 1.3),
  only screen and (min-resolution: 120dpi)
  {
    /* Your code to swap higher DPI images */

    .loginContainer .row {
      width: 100%;
      padding: 5px;
    }

  }
