<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation"></nav>
<div id="main" class="container"></div>
<div class="navbar navbar-default navbar-fixed-bottom footer" role="navigation">
  <div class="container">
    <div class="col-xs-6"><small class="text-muted pull-left">Searches Available: <span class="total-paid-searches">0</span></small></div>
    <div class="col-xs-6"><small class="text-muted pull-right">Last update: <span class="last-update">Not yet!</span></small></div>
  </div>
</div>
<div id="modal"></div>
