<div class="navbar-header">
  <a class="navbar-brand" href="searches"><i class="fa pull-left fa-cutlery"></i> Disney Dining Scout</a>
</div>
{{#if id}}
<div class="collapse navbar-collapse">
  <button type="button" class="btn btn-default navbar-btn pull-right" data-toggle="offcanvas" data-target="#navMenu" data-canvas="body">
    <i class="fa fa-user fa-fw"></i> {{firstName}} {{lastName}}
  </button>
</div>

<nav id="navMenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
  <h3><i class="fa fa-user fa-fw"></i> {{firstName}} {{lastName}}</h3>
  <ul class="nav navmenu-nav">
    <li>
      <a href="user-profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
    </li>
    <li>
      <a href="change-password"><i class="fa fa-lock fa-fw"></i> Change Password</a>
    </li>
    <li>
      <a href="update-notifications"><i class="fa fa-envelope fa-fw"></i> Notification Settings</a>
    </li>
    <li class="divider"></li>
    <li class="logout">
      <a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
  </ul>
</nav>


{{/if}}

