<a class="navbar-brand navbar-left" href="searches"><i class="fa pull-left fa-cutlery"></i> Disney Dining Scout</a>

{{#if user.id}}

<ul class="nav navbar-nav navbar-right">
  {{#isPast user.subExpires}}
  <li><button type="button" class="btn btn-link navbar-btn btn-upgrade"><i class="fa fa-lightbulb-o fa-fw"></i> Upgrade now!</button></li>
  {{else}}
    {{#unless user.subExpires}}
    <li><button type="button" class="btn btn-link navbar-btn btn-upgrade"><i class="fa fa-lightbulb-o fa-fw"></i> Upgrade now!</button></li>
    {{/unless}}
  {{/isPast}}
  <li>
    <button type="button" class="btn btn-default navbar-btn displayMenuBtn" data-toggle="offcanvas" data-target="#navMenu" data-canvas="body">
      <i class="fa fa-user fa-fw"></i> <span class="settingsUserName">{{user.firstName}} {{user.lastName}}</span>
    </button>
  </li>
</ul>

<nav id="navMenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
  <h3><i class="fa fa-user fa-fw"></i> {{user.firstName}} {{user.lastName}}</h3>
  <ul class="nav navmenu-nav">
    <li>
      <a href="user-profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
    </li>
    <li>
      <a href="change-password"><i class="fa fa-lock fa-fw"></i> Change Password</a>
    </li>
    <li>
      {{#isPast user.subExpires}}
      <a href="#"><i class="fa fa-envelope fa-fw"></i> Notification Settings <i class="fa fa-usd"></i></a>
      {{else}}
        {{#if user.subExpires}}
        <a href="update-notifications"><i class="fa fa-envelope fa-fw"></i> Notification Settings</a>
        {{else}}
        <a href="#"><i class="fa fa-envelope fa-fw"></i> Notification Settings <i class="fa fa-usd"></i></a>
        {{/if}}
      {{/isPast}}
    </li>
    <li>
      <a href="payments"><i class="fa fa-credit-card fa-fw"></i> Subscription and Payments</a>
    </li>
    <li class="divider"></li>
    <li class="logout">
      <a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
  </ul>
  <div class="col-md-12 pull-right">
    <div class="pull-right text-muted"><small>{{appInfo.tag}}.{{appInfo.rev}}</small></div>
  </div>
</nav>


{{/if}}

