<div class="span5" id="timelineHolder">

</div>
<div class="span7">
    <div class="row-fluid" style="margin-bottom: 5px;">
        <div class="btn-group btn-add-document pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Create new document
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="dropdown-document-types">

            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div id="docTable"></div>
    </div>
</div>
