
  <div class="col-md-4 col-md-offset-4">
    <h2>Reset Password</h2>
    <fieldset id="resetFields">
      <div class="form-group has-feedback">
        <input class="form-control input-lg" placeholder="Password" type="password" id="passwordNew">
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control input-lg" placeholder="Confirm Password" type="password" id="passwordConfirm">
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>
    </fieldset>
    <br>
    <div class=" text-center">
      <button class="btn btn-primary btn-update">Update Password</button>
    </div>
  </div>

