<div class="row">
  <div class="col-md-12 col-sm-12 bootcards-list" id="list">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="search-form">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Search Your Reservations...">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-xs-3">
            <a class="btn btn-primary btn-block btn-add" href="#" data-toggle="modal" data-target="#editModal">
              <i class="fa fa-plus"></i>
              <span>Add</span>
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group" id="searches">

      </div>
      <div class="panel-footer">
        <small class="pull-right">Last update: <span class="last-update">Not yet!</span></small>
      </div>
    </div>
  </div>
</div>
